.loginContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.inputContainer {
  display: flex;
  flex-direction: column; }
  .inputContainer > * {
    width: 70%;
    margin: auto; }

.buttonsContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding-top: 1.5rem; }
  .buttonsContainer > * {
    width: 7rem; }

.matCardHeader {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center; }

.matCardContent {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center; }

.card {
  width: 30rem;
  background-color: #f2f2f2; }

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8); }

.pos {
  margin-bottom: 12px; }

.buttonArea {
  margin-top: 2.1rem; }
