.root {
  flexGrow: 1;
}
.menuButton {
  marginRight: 3rem;
}
.title {
  flexGrow: 1;
}

.inside {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1.5rem;
  .left {

  }
  .right {
    display: flex;
  }

  a {
    text-decoration: none;
    color: white;
  }
}


