.root {
  flexGrow: 1; }

.menuButton {
  marginRight: 3rem; }

.title {
  flexGrow: 1; }

.inside {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 1.5rem; }
  .inside .right {
    display: flex; }
  .inside a {
    text-decoration: none;
    color: white; }
