.addUser {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.title {
  margin: auto;
  text-align: center;
}
.textField {
  margin-left: 1px;
  margin-right: 1px;
  width: 100%;
}

.buttonSave {
  display: flex;
  justify-content: left;
  margin-top: 40px;
  Button {
    width: 300px;
  }

}
